{% extends 'todo_list/base.html' %}
{% block content %}

    <h1 class="current-title">Completed todos</h1>

    {% for i in todo %}
        <a class="link-to-detail" href="{% url 'detailtodo' i.id %}">
            <div class="todo">
                <h4>{% if i.important %}<b>{% endif %}{{ i.title }}{% if i.important %}</b>{% endif %}</h4>
                <br>
                <p>{{ i.memo }}</p>
                <br>
                <p>{{ i.datecompleted|date:"M j Y H:i" }}</p>
            </div>
        </a>
    {% endfor %}

{% endblock %}